.InfoBox {
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #2727277c;
    padding: 0.2rem 1rem 1rem 1rem;
    margin-top: 1rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 10px rgb(129, 129, 229);
    /* width: 100%; */
}

.cardContainer {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.showInfo {
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 1rem;
    color: rgb(13, 0, 47);
    box-shadow: 2px 2px 25px rgb(0, 1, 38);
    background-color: rgb(188, 242, 240);
}

.info {
    color: rgb(29, 0, 5);
}

